{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<div class="min-h-full">

	<header class="bg-white shadow">
		<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
			<h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
		</div>
	</header>
	<main class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 flex" >
		<div class="w-1/5">
        
            <section class="mt-2 border-2 p-2">
                <h2 class="text-xl font-bold">Profile info</h2>
                <div class="pl-2">
                    <p>Pseudo: {{ app.user.pseudo }}</p>
                    <p>Email: {{ app.user.email }}</p>
                </div>
            </section>

            <section class="mt-2 border-2 p-2">

                <h2 class="text-xl font-bold">Bank account</h2>
                <div class="pl-2">
                    <p>Bank:
                        {{ app.user.bank.amount }} €</p>
                    <a href="/dashboard/updatebank/{{ app.user.bank.id }}" class="rounded-full bg-emerald-600 px-2.5 py-1 text-xs font-semibold text-white shadow-sm hover:bg-emerald-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600">Add Money</a>



                </div>
            </section>


            <section class="mt-2 border-2 p-2">

                <h2 class="text-xl font-bold">Address:</h2>
                {% if app.user.address %}
                    {% for address in app.user.address %}
                    <div class="pl-2">
                        <p>Street: {{ address.street }}</p>
                        <p>City: {{ address.city }}</p>
                        <p>Zipcode: {{ address.zip }}</p>
                        <div class="flex justify-center">
                            <form action="/dashboard/deleteAddress/{{ address.id }}" method="POST" onsubmit="return confirm(`Cette adresse va être supprimer, êtes vous sur de bien vouloir la supprimer ?`)">
                                <input type="hidden" name="_method" value="DELETE">
                                {# <input type="hidden" name="_tocken" value="{{ csrf_tocken('delete' = address.id)}}"> #}
                                <button class="rounded-full bg-red-600 px-2.5 py-1 text-xs font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Delete</button>
                            </form>
                            <a href="/dashboard/updateAddress/{{ address.id }}" class="rounded-full bg-emerald-600 px-2.5 py-1 text-xs font-semibold text-white shadow-sm hover:bg-emerald-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600 ml-3">Edite</a>

                        </div>

                    </div>
                    <div class="relative py-1">
                        <div class="inset-0 flex items-center  justify-center" aria-hidden="true">

                            <div class="w-3/6 border-t border-gray-300"></div>
                        </div>
                    </div>



                    {% endfor %}
                {% endif %}
                <div class="text-center">
                    <a href="/dashboard/{{ app.user.id }}/createAddress" class="rounded-full bg-indigo-600 px-2.5 py-1 text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add address</a>

                </div>

            </section>

            
		</div>
        <div class="w-4/5">
            <div class="text-end">
                <a href="/dashboard/{{ app.user.id }}/post/createPost" class="rounded-full bg-indigo-600 px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create Post</a>
            </div>
            <section class="flex flex-col mt-5 p-5">
                {% if app.user.posts %}
                <h2>Posts you create</h2>
                <div class="flex gap-8">
                    {% for post in app.user.posts %}
                        <article class="p-2 border-2 w-3/6">
                            <h2 class="text-xl font-bold tracking-tight">{{ post.title }}</h2>
                            <p>{{ post.price }} €</p>
                            <div class="flex justify-between">
                                <p>Status:
                                    <span class="{{ post.isVisible ? 'inline-flex items-center rounded-full bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800' : 'inline-flex items-center rounded-full bg-red-100 px-2.5 py-0.5 text-xs font-medium text-red-800' }}">
                                        {{ post.isVisible ? 'Online' : 'Offline' }}
                                    </span>
                                </p>

                                <a href="/dashboard/{{ app.user.id }}/post/{{post.id}}/changeStatus" class="rounded-full bg-emerald-600 px-2.5 py-1 text-xs font-semibold text-white shadow-sm hover:bg-emerald-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600 ml-3">Change Statut</a>

                            </div>
                        </article>
                    {% endfor %}
                </div>
                {% endif %}
            </section>
            <section class="flex flex-col gap-8 mt-5 p-5">
                {% if app.user.acquisitions %}
                    <div class="flex">
                        {% for acquisition in app.user.acquisitions %}
                            <article class="p-2 border-2 w-3/6">
                                <h2 class="text-xl font-bold tracking-tight">{{ acquisition.post.title }}</h2>
                                <p>{{ acquisition.post.description }}</p>
                            </article>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>


        </div>
	</main>
</div>


{% endblock %}
